<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegraf MQTT Config</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>MQTT Topics</h1>

        <!-- Area for messages -->
        <div id="message-box" class="message-box"></div>

        <form id="topics-form">
            <div class="topics-list" id="topics-list">
                <!-- Display Topics dynamic -->
            </div>
            <button type="button" id="add-topic-btn">+ Neues Topic hinzufügen</button>
            <button type="submit" class="save-btn">Speichern</button>
        </form>
    </div>

    <!-- Link to Java script file -->
    <script src="static/dashboard.js"></script>
</body>
</html>