<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post" class="login-form">
            <div class="form-group">
                <label for="password">Passwort:</label>
                <div class="input-wrapper">
                    <input type="password" name="password" id="password" placeholder="Passwort eingeben" required>
                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">👁️</button>
                </div>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>

    <!-- Link to Java script file -->
    <script src="static/login.js"></script>
</body>
</html>